services:
  api:
    build:
      context: .
      target: api
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: deck
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: deck
    ports:
      - 5432:5432